# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# PRU compiler
*.obj
*.stripped
*.pp
*.lst

# executable
testpru
